<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <processors>
      <saveUI>
        <processor mode="on" type="Sitecore.Support.FixLayoutDeltaInExperienceEditor, Sitecore.Support.144214" patch:before="processor[@type='Sitecore.Pipelines.Save.Unlock, Sitecore.Kernel']"/>
      </saveUI>
    </processors>
  </sitecore>
</configuration>